/*Loading the desired font family*/
@font-face {
    font-family: 'Outfit';
    src: url("fonts/Outfit/Outfit-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
}
/*The whole page initial styles*/
body{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/*Main Card styles*/
.container{
    display: flex;
    flex-direction: column;
    width: 270px;
    box-sizing: border-box;
    font-weight: 500;
    padding: 20px;
    margin-top: 80px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 10px 6px 30px 20px rgba(0, 0, 0, 0.19);
}
.container a{
    color: white;
    text-decoration: none;
}
.container a:hover{
    color: hsl(178, 100%, 50%);
}
.container p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 15px;
}
/*Big image on top of the card and its special styling*/
.image-container{  
        position: relative;
        border-radius: 5px;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(178, 100%, 50%, 0.5); /* A semi-transparent layer*/
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.3s ease;
        box-sizing: border-box;
    }
    .main-img{
        display: flex;
        width: 230px;
        height: 230px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    #view{
        width: 40px;
        height: 40px;
        display: none;
    }
    .image-container:hover .overlay{
            opacity: 1;
            cursor: pointer;
    }
    .image-container:hover #view{
            display: flex;
            justify-content: center;
            align-items: center;
    }
/*Cost and Remaining Time section*/
.ethereum-clock{
    border-bottom: 1px solid hsl(215, 32%, 27%);
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
#ethereum{
    float: left;
    color:hsl(178, 100%, 50%);
}
#clock{
    float: right;
    color: hsl(215, 51%, 70%);
}
#ethereum img{
    width: 12px;
    height: 17px;
    padding-right: 7px;
}
#clock img{
    margin-right: 7px;
    width: 17px;
    height: 17px;
}
#ethereum-text , #clock-text{
    display: inline;
    float: right;
}
/*Avatar and contribution to the creator */
.avatar{
    padding-bottom: 10px;
}
#avatar-image img{
    width: 25px;
    height: 25px;
    border: 1.5px solid white;
    border-radius: 50%;
    float: left;
}
#avatar-text{
    float: left;
    color: hsl(215, 51%, 70%);
    height: 10px;
    font-size: 12px;
    padding: 8px;
}
#avatar-text a{
    font-weight: 300;
}
/*Make it responsive for mobile devices */
@media only screen and (max-width:375px){
    body{
        width: 375px;
    }
}
